<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethereum ウォレット残高確認</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Ethereum ウォレット残高確認</h1>
    <form id="wallet-balance-form">
        <label for="wallet-addr">ウォレットアドレス：</label>
        <input type="text" id="wallet-addr" required>
        <button type="submit">確認</button>
    </form>
    <div id="output" style="display: none;">
        <p>残高：<span id=""eth-barance></span>ETH</p>
        <p>換算：<span id="usd-balance"></span>USD (<span id="eth-usd-rate"></span>)</p>
    </div>
    <script src="static/js/client.js"></script>
</body>
</html>